@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media screen and (max-width: 769px){
    #tout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
} */

#haut #par:first-child {
    background: #ff8c66 url(../src/components/horaire/img/icon-work.svg) no-repeat;
    background-position: 95% -10%;
    padding-top: 40px;
}

#haut #par:nth-child(2) {
    background: #a3d6f9 url(../src/components/horaire/img/icon-play.svg) no-repeat;
    background-position: 95% -10%;
    padding-top: 40px;
    
}

#haut #par:nth-child(3) {
    background: #ff6678 url(../src/components/horaire/img/icon-study.svg) no-repeat;
    background-position: 95% -10%;
    padding-top: 40px;
}

#haut #par:nth-child(4) {
    background: #73d38b url(../src/components/horaire/img/icon-exercise.svg) no-repeat;
    background-position: 95% -2%;
    padding-top: 40px;
    margin-bottom: 0!important;
}

#haut #par:nth-child(5) {
    background: #8043dc url(../src/components/horaire/img/icon-social.svg) no-repeat;
    background-position: 95% -15%;
    padding-top: 40px;
    margin-bottom: 0!important;

}

#haut #par:nth-child(6) {
    background: #e9d158 url(../src/components/horaire/img/icon-self-care.svg) no-repeat;
    background-position: 95% -10%;
    padding-top: 40px;
    margin-bottom: 0!important;

}
